## Off-topic: fizzbuzz
Write a program that outputs every number from 0 to 100
* Multiples of 3 are replaced by "Fizz"
* Multiples of 5 are replaced by "Buzz"
* Multiples of 3 AND 5 are replaced by "FizzBuzz"

### For loop

In [9]:
for i in range(101):
    if i%3 == 0 and i%5 == 0:
        print("fizzbuzz")
    elif i%3==0:
        print("fizz")
    elif i%5==0:
        print("buzz")
    else:
        print(i)
        
# With a while
i = 0
while i <= 100:
    # Same stuff
    i+=1

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

### List comprehension

In [10]:
def fizzbuzz(i):
    if i%3 == 0 and i%5 == 0:
        return "fizzbuzz"
    elif i%3==0:
        return "fizz"
    elif i%5==0:
        return "buzz"
    else:
        return i
[fizzbuzz(i) for i in range(101)]

['fizzbuzz',
 1,
 2,
 'fizz',
 4,
 'buzz',
 'fizz',
 7,
 8,
 'fizz',
 'buzz',
 11,
 'fizz',
 13,
 14,
 'fizzbuzz',
 16,
 17,
 'fizz',
 19,
 'buzz',
 'fizz',
 22,
 23,
 'fizz',
 'buzz',
 26,
 'fizz',
 28,
 29,
 'fizzbuzz',
 31,
 32,
 'fizz',
 34,
 'buzz',
 'fizz',
 37,
 38,
 'fizz',
 'buzz',
 41,
 'fizz',
 43,
 44,
 'fizzbuzz',
 46,
 47,
 'fizz',
 49,
 'buzz',
 'fizz',
 52,
 53,
 'fizz',
 'buzz',
 56,
 'fizz',
 58,
 59,
 'fizzbuzz',
 61,
 62,
 'fizz',
 64,
 'buzz',
 'fizz',
 67,
 68,
 'fizz',
 'buzz',
 71,
 'fizz',
 73,
 74,
 'fizzbuzz',
 76,
 77,
 'fizz',
 79,
 'buzz',
 'fizz',
 82,
 83,
 'fizz',
 'buzz',
 86,
 'fizz',
 88,
 89,
 'fizzbuzz',
 91,
 92,
 'fizz',
 94,
 'buzz',
 'fizz',
 97,
 98,
 'fizz',
 'buzz']

### Overkill divide and conquer

In [12]:
def multiple_of_three(i):
    """return True if i is a multiple of 3"""
    return i%3 == 0

def multiple_of_five(i):
    """return True if i is a multiple of 5"""
    return i%5 == 0

def multiple_of_fifteen(i):
    """return True if i is a multiple of 3 and 5 (i.e. 15)"""
    return i%15 == 0

def fizzbuzz(i):
    """Return fizzbuzz if i is a multiple of 15, fizz, if mult..."""
    if multiple_of_fifteen(i):
        return "fizzbuzz"
    if multiple_of_three(i):
        return "fizz"
    if multiple_of_five(i):
        return "buzz"
    else:
        return i


for i in range(101):
    print(fizzbuzz(i))

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

## Off-topic: How to succeed in the course
* Actually open and use a Colab Notebook during the course
* Actually try to answer all questions
* Interrupt me
* Do the homework
* Write code
* Do not worry about your grades.


# Course 3: DATA !

## DSL
Domain Specific Language
## Tidy Data: Pandas
* One row = One sample
* One column = One variable

In [13]:
import pandas as pd

In [17]:
data = pd.read_csv("./crime_data_sample.csv", index_col='Référence')

In [33]:
data[['Infraction gp 1', 'Infraction gp 2', 'Infraction gp 3', 'Infraction gp 4']].head()

,Infraction gp 1,Infraction gp 2,Infraction gp 3,Infraction gp 4
Référence,,,,
591,INFRACTIONS A LA REGLEMENTATION,INFRACTIONS A LA REGLEMENTATION,INFRACTIONS A LA REGLEMENTATION,INFRACTIONS A LA REGLEMENTATION
581,INFRACTIONS A LA REGLEMENTATION,NaN,NaN,NaN
571,ATTEINTES AUX BIENS,NaN,NaN,NaN
561,ATTEINTES AUX PERSONNES,NaN,NaN,NaN
551,ATTEINTES AUX BIENS,NaN,NaN,NaN

* Why is the data untidy ?
* What are the consequences ?


Imagine in english, either
* the transformations to make this data tidy
* or what this data would look like once it is tidy

In [34]:
df = pd.DataFrame(columns=['Group1', 'Group2', 'Group3', 'Group4'], 
                  data=[
                      ['Victimless crime', 'Victimless crime', 'Victimless crime', 'Victimless crime', ],
                      ['Victimless crime', None, None, None],
                      ['Property crime', None, None, None],
                      ['Assault', None, None, None, ],
                      ['Property crime', 'Assault', None, None ],
                  ])
df

             Group1            Group2            Group3            Group4
0  Victimless crime  Victimless crime  Victimless crime  Victimless crime
1  Victimless crime              None              None              None
2    Property crime              None              None              None
3           Assault              None              None              None
4    Property crime           Assault              None              None

In [57]:
(df == 'Property crime') | (df == 'Assault')

   Group1  Group2  Group3  Group4
0   False   False   False   False
1   False   False   False   False
2    True   False   False   False
3    True   False   False   False
4    True    True   False   False

In [82]:
(2+3)*4

20

In [80]:
df.query('Group1 == "Assault" | Group2 == "Assault"')

           Group1   Group2 Group3 Group4
3         Assault     None   None   None
4  Property crime  Assault   None   None

In [52]:
([True, False]) or ([False, True])

[True, False]

In [54]:
titi = 1
if titi == 1 or toto == 2:
    print("fjhfskdjh")

fjhfskdjh

In [65]:
max(1, float('Nan'))

1




## Grammar for graphics: Seaborn

## Vocabulary
### Your own data
Samples, and variable
### Graphics vocabulary
* types of graph: lineplot bars (histogram) dots (scatter)
* color
* spatial organisation of the graph
* axes


## Syntax

In [95]:
def f(a, b, c):
    '''Positional arguments'''
    print(f'''F
    a is {a}
    b is {b}
    c is {c}''')
    
def g(a=1, b=2, c=3):
    '''Keywords arguments'''
    print(f'''G
    a is {a}
    b is {b}
    c is {c}''')
    
def h(a, b=2, c=3):
    '''Keywords and positional'''
    print(f'''H
    a is {a}
    b is {b}
    c is {c}''')
    
g(b=5, a=4, c=6)

G
    a is 4
    b is 5
    c is 6

In [83]:
data = pd.read_csv('./Titanic.csv')

In [84]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [96]:
import seaborn as sns

In [100]:
sns.plot(data=df, x='Group1')

AttributeError: module 'seaborn' has no attribute 'plot'

In [99]:
sns.__version__

'0.10.0'

# Homework
* Read the tidy data paper https://vita.had.co.nz/papers/tidy-data.pdf
* Make the crime data example tidy
  * You have succeeded when filtering assaults is easy
* Skim the grammar paper  https://vita.had.co.nz/papers/layered-grammar.pdf
* Do a graph on the Titanic data
* (optional) Try to extract data from the name field:
  * e.g. title, husband/wife/kids relationships, etc.